:root{
    --font-color : #FFFDFA;
    --second-color: #006055;
    --third-color: #4db6ac;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* Small */
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
      /* Medium */
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
      /* Large */
    @media (min-width: 1200px) {
        .container {
            width: 1170px ;
        }
    }
/* change scroll bar */
/* width */
::-webkit-scrollbar {
    width: 11px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--font-color);
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 0px;
}
/* ::-webkit-scrollbar-thumb:hover{
    background: var(--second-color);
} */

/* style intro */
.intro {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
/* style nav */
.intro nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5000;
    width: 100%;
}
.intro  nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    z-index: 2;
}
.intro  nav .container .logo img{
    width: 189px;
}
.intro  nav .container ul{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    opacity: 1;
}
.intro  nav .container ul #pointer{
    display: none;
    position: absolute;
    width: 135px;
    height: 100%;
    background-color: var(--third-color);
    top: 0;
    left: 22.5%;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.nav-on-phone{
    display: none;
}
.intro  nav .container ul a{
    color: var(--font-color);
}
.intro  nav .container ul a li{
    position: relative;
    font-size: 18px;
    font-weight: 900;
}
.intro  nav .container ul a li::after{
    content: '';
    position: absolute;
    bottom: -7px;
    height: 3px;
    width: 0;
    background-color: var(--second-color);
    left: 0;
    transition: all 0.5s ease-in-out;
}
.intro  nav .container ul a li:hover::after{
    width: 100%;
}
.nav-on-phone{
    font-size: 35px;
    color: var(--third-color);
}
    /* Small */
    @media screen and ( max-width: 768px) {
        .intro  nav {
            background-color: var(--second-color);
        }
        .intro  nav .container ul{
            position: absolute;
            flex-direction: column;
            top: 119px;
            left: 50%;
            transform: translateX(-50%);
            justify-content: flex-start;
            width: 100%;
            text-align: none;
            padding-left: 23px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #4db6ac8f;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }
        .intro nav .container ul a li {
            padding: 15px;
        }
        .nav-on-phone{
            display: block;
        }
    }
      /* Medium */
    @media screen and (min-width: 769px) and (max-width: 992px) {
        .intro  nav {
            background-color: var(--second-color);
        }
        .intro  nav .container ul{
            display: none;
        }
    }

.arrows{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.arrows div{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 79, 79, 0.507);
    color: var(--font-color);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.arrows div:hover{
    background-color: var(--second-color);
}

.intro  .bobs{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 15%;
}
.intro  .bobs div{
    width: 17px;
    height: 17px;
    border-radius: 20px;
    background-color: var(--font-color);
    border: var(--second-color) solid 7px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.intro  .bobs div:hover,
.intro  .bobs .active{
    background-color: var(--second-color);
    border: var(--font-color) solid 7px;
}

    /* Small */
    @media screen and ( max-width: 768px) {
        .intro  .bobs{
            width: 47%;
        }
    }
      /* Medium */
    @media screen and (min-width: 769px) and (max-width: 992px) {
        .intro  .bobs{
            width: 29%;
        }
    }
.slider img{
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
}
.slider .active{
    opacity: 1;
}

#advantages{
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 54%;
    text-align: center;
}

#advantages h1{
    line-height: 1.4;
    color: var(--font-color);
    font-weight: 900;
}

#preview{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 33px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 15%;
}
#preview img{
    width: 0;
    height: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}


    /* Small */
    @media screen and ( max-width: 768px) {
        .slider{
            height: 100%;
        }
        .slider img{
            width: 490%;
        }
    }
      /* Medium */
    @media screen and (min-width: 769px) and (max-width: 992px) {
        .slider{
            height: 100%;
        }
        .slider img{
            width: 490%;
        }
    }

    
/* about section */
.about{
    min-height: 100vh;
}
.about .title{
    position: relative;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 8px;
}
.about .title::after{
    content: '';
    position: absolute;
    width: 150.5%;
    height: 216%;
    background-color: var(--third-color);
    left: -215px;
    top: -20px;
    z-index: -1;
}

.about .container{
    min-height: 100%;
}
.about .container .sec1,
.about .container .sec2,
.about .container .sec3 {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about .container .image{
    position: relative;
    overflow: hidden;
    margin: 20px;
    height: 100%;
    right: -220px;
}
.about .container #fimg{
    left: -220px;
    height: 100%;
}
.about .container .image img{
    width: 1298px;
    transform: translateX(-151px);
}
.about .container .image::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--third-color);
}
.about .container p{
    font-size: 33px;
    text-align: center;
    line-height: 1.2;
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateX(91px);
}
.about .container p a{
    color: var(--second-color);
    transition: all 0.5s ease-in-out;
}
.about .container p a:hover{
    color: var(--third-color);
}
#p2{
    transform: translateX(-91px);
}
    /* Small */
    @media screen and ( max-width: 768px) {
        .about .container .image{
            display: none;
        }
        .about .title::after {
            width: 123.5%;
            left: -36px;
        }
    }
      /* Medium */
    @media screen and (min-width: 769px) and (max-width: 992px) {

    }

/* style services */
.services {
    position: relative;
}
.services  .soft,
.services .hard{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
    height: 273vh;
    width: 100%;
}
.services  .soft{
    z-index: 1;
}
.services  .serv{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.services  .span{
    grid-column: span 2;
}
.services  .serv .overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.services  .serv:hover .overlay{
    opacity: 0.85;
    width: 92%;
    height: 92%;
}
.services .serv img{
    position: relative;
    width: 152%;
}
.services .serv .details{
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
}
.services .serv .details h1{
    position: relative;
    color: var(--font-color);
    font-weight: 800;
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}
.services .serv .details h1::after{
    content: '';
    position: absolute;
    height: 1.5px;
    width: 17%;
    background-color: var(--third-color);
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
}
.services .serv .details h3{
    text-align: center;
    color: var(--font-color);
    font-size: 11px;
}
.services .serv .details .more{
    transform: translateY(34px);
    color: var(--third-color);
    font-size: 10px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    cursor: pointer;
}
.services  .serv:hover .details .more{
    transform: translateY(10px);
    opacity: 1;
}
.services .serv img:nth-of-type(1){
    left: -180px;
    top: -60px;
}
.services .serv:nth-of-type(3) img{
    width: 209%;
}
.services .hard .serv:nth-of-type(3) img {
    width: 159%;
}
.services .serv:nth-of-type(4) img{
    width: 209%;
}
.services .hard .serv:nth-of-type(4) img{
    width: 168%;
}
.services .hard .serv:nth-of-type(7) img{
    width: 144%;
}
.services .span img{
    left: -180px;
    top: -60px;
    width: 200%;
}
#topBtn{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: var(--third-color);
    bottom: 12px;
    right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
    font-size: 22px;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 1.5s 0.5s ease-in-out , transform 0.75s 0.75s ease-in-out;
    opacity: 0;
} 
    /* Small */
    @media screen and ( max-width: 768px) {
        .services .soft,
        .services .hard{
            display: flex;
            flex-direction: column;
        }
        .services .soft .span img,
        .services .hard .span img{
            width: 450%;
        }
        .services .hard:nth-of-type(2) img{
            width: 166%;
        }
        .services .hard .serv:nth-of-type(4) img {
            width: 181%;
        }
        .services .hard .serv:nth-of-type(7) img {
            width: 147%;
            left: -89px;
        }
    }
      /* Medium */
    @media screen and (min-width: 769px) and (max-width: 992px) {

    } 
    
/* our partners section */
.partners{
    height: 100vh;
}
.partners .container{
    height: 100%;
}
.partners .container .title h1{
    color: var(--second-color);
    position: relative;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
}
.partners .container .title h1::after{
    position: absolute;
    content: '';
    bottom: -9px;
    width: 6%;
    height: 3px;
    background-color: var(--third-color);
    left: 50%;
    transform: translateX(-50%);
}
.partners .container .partnerBar{
    position: relative;
    position: relative;
    width: 100%;
    height: 28%;
    overflow: hidden;
}
.partners .container .partnerBar a{
    max-width: 250px;
}
.partners .container .partnerBar .next,
.partners .container .partnerBar .pre{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--third-color);
    cursor: pointer;
    z-index: 100;
}
.partners .container .partnerBar .next{
    right: 0;
}
.partners .container .partnerBar .pre{
    left: 0;
}
.partners .container .partnerBar .partnersSlide{
    width: 100%;
    height: 100%;
}
.partners .container .partnerBar section{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 41px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    transform: translateX(0);
    transition: all 1.5s ease-in-out;
}
.partners .container .partnerBar section:not(:first-of-type){
    transform: translateX(-100%);
}
.partners .container .partnerBar img{
    width: 100%;
}
#partnersImg{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.partners .container .other{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin-top: 74px;
}
.partners .container .other div a{
    color: var(--second-color);
}
.partners .container .other div h3{
    position: relative;
    text-align: start;
    margin: 10px;
    font-weight: 400;
}
.partners .container .other div a h3::after{
    content: '';
    position: absolute;
    bottom: -3px;
    height: 1.5px;
    background-color: var(--third-color);
    width: 0;
    left: 0px;
    transition: all 0.5s ease-in-out;
}
.partners .container .other div a:hover h3::after{
    width: 10%;
}
.partners .container .other div h1{
    color: var(--third-color);
    font-size: 18px;
    font-weight: 500;
    text-align: start;
}
    /* Small */
    @media screen and ( max-width: 768px) {
        .partners .container .other div h1 {
            font-size: 10px;
        }
        .partners .container .other div h3 {
            font-size: 10px;
        }
    }
      /* Medium */
    @media screen and (min-width: 769px) and (max-width: 992px) {

    }

/* style contact us and footer */
.contact {
    height: 44vh;
    background-color: var(--second-color);
}
.contact .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.contact .container .part1,
.contact .container .part2,
.contact .container .part3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact .container .part3{
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}
.contact .container .part1 .logo{
    position: relative;
}
.contact .container .part1 .logo img{
    position: absolute;
    width: 185px;
    top: -69px;
    opacity: 0;
    transition: all 7s 0.5s ease-in-out;
}
.contact .container .part2 a {
    color: var(--font-color);
    background-color: var(--second-color);
    position: relative;
}
.contact .container .part2 a h1{
    position: relative;
    font-weight: 600;
    font-size: 16px;
    padding: 6px;
    z-index: 2;
}
.contact .container .part2 a h1::after{
    content: '';
    position: absolute;
    background-color: var(--third-color);
    width: 100%;
    height: 0px;
    z-index: -1;
    bottom: -1px;
    left: 0;
    transition: all 0.5s ease-in-out;
}
.contact .container .part2 a:hover h1::after{
    height: 17px;
}
.contact .container .part1 .call h1,
.contact .container .part1 .address h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-weight: 400;
    font-size: 16px;
}
.contact .container .part1 .call h1 span,
.contact .container .part1 .address h2 span{
    color: var(--third-color);
    font-size: 12px;
    margin-right: 13px;
}
.contact .container .part3 input{
    font-size: 15px;
    position: relative;
    height: 86px;
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--font-color);
    width: 234px;
    padding: 0px 20px;
    color: var(--font-color);
    caret-color: var(--third-color);
}
.contact .container .part3 button{
    height: 86px;
    width: 234px;
    border: none;
    background-color: var(--third-color);
    border-radius: 12px;
    color: var(--font-color);
    cursor: pointer;
    margin-bottom: 10px;
}
.contact .container .part3 input::placeholder{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--font-color);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
.contact .container .part3 input:focus::placeholder{
    opacity: 0;
}
.contact .container .part3 textarea{
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--font-color);
    resize: none;
    width: 234px !important;
    padding: 20px;
}
.contact .container .part3 .title h1{
    color: var(--third-color);
    font-weight: 500;
    font-size: 20px;
}
footer{
    height: 7vh;
    background-color: var(--second-color);
    border-top: var(--font-color) 0.5px solid;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}
footer .container{
    position: relative;
    width: 100%;
    height: 100%;
}
footer ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    left: 150px;
}
footer ul a{
    color: var(--font-color);
}
footer h1{
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 12px;
    color: var(--font-color);
    font-weight: 900;
}
footer h1 span a {
    color: var(--third-color);
    transition: all 0.5s ease-in-out;
}
footer h1 span a:hover{
    color: var(--font-color);
}
footer h5{
    position: absolute;
    font-size: 12px;
    color: var(--font-color);
    font-weight: 900;
    top: 50%;
    transform: translateY(-50%);
    right: 170px;
}
    /* Small */
    @media screen and ( max-width: 768px) {
        .contact .container .part1,
        .contact .container .part2{
            display: none;
        }
        footer .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        footer h5,
        footer ul,
        footer h1{
            position: unset;
            transform: unset;
            /* transform: none !important;
            left: none !important;
            right: none !important;
            top: none !important;
            bottom: none !important; */
        }
        footer{
            height: 25vh;
        }
        footer .container{
            flex-direction: column;
            justify-content: space-around;
        }
        footer .container ul{
            width: 75%;
        }
    }